{% load static %}
     <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
         <a href="{% url 'dash-emps'%}" style="cursor: pointer; text-decoration: none">
              <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                      <h4 class="text-sm blue-khieer mb-0 text-capitalize font-weight-bold">المشرفيين</h4>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape shadow text-center border-radius-md">

                                                  <img src="{% static 'images/emp.png' %}" style="width: 2.9rem" class="logo_user"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
                              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
         <a href="{% url 'dash-hebas'%}" style="cursor: pointer; text-decoration: none">
              <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                      <h4 class="text-sm blue-khieer mb-0 text-capitalize font-weight-bold">هبة الخير</h4>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape shadow text-center border-radius-md">
                      <img src="{% static 'images/waheb.png' %}" style="width: 2.9rem" class="logo_user"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
                              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
         <a href="{% url 'all-vol'%}" style="cursor: pointer; text-decoration: none">
              <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                      <h4 class="text-sm blue-khieer mb-0 text-capitalize font-weight-bold">المتطوعيين</h4>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape shadow text-center border-radius-md">
                      <img src="{% static 'images/volunteer.png' %}" style="width: 2.9rem" class="logo_user"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>

       <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
         <a href="{% url 'download-list'%}" style="cursor: pointer; text-decoration: none">
              <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                      <h4 class="text-sm blue-khieer mb-0 text-capitalize font-weight-bold">طلبات الحصول على الدليل</h4>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape shadow text-center border-radius-md">
                      <img src="{% static 'images/login.png' %}" style="width: 2.9rem" class="logo_user"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>