        {% if LANGUAGE_CODE == 'ar' %}
     <h3 class="blue-khieer text-center mb-2 mt-5">شارك فى الخير</h3>
                        <p class="text-lead text-center" style="color: #040404; padding-right: 1.7rem">
                            نعيش العطاء
                        </p>
        {% else %}
             <h3 class="blue-khieer text-center mb-2 mt-5">Share in Khieer</h3>
                        <p class="text-lead text-center" style="color: #040404; padding-right: 1.7rem">
                           Live The Giving
                        </p>
        {% endif %}