{% load static  %}

{% if request.user.user_type == 3   %}
<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <a href="{% url 'trip-list' %}" style="cursor: pointer; text-decoration: none">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <h4 class="text-sm blue-khieer mb-0 text-capitalize font-weight-bold">طلبات الأنضمام للرحالات
                                </h4>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div class="icon icon-shape shadow text-center border-radius-md">
                            <img src="{% static 'images/goals.png' %}" style="width: 2.9rem"
                                 class="logo_user"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <a href="{% url 'all-design'%}" style="cursor: pointer; text-decoration: none">
         <div class="card">
       <div class="card-body p-3">
         <div class="row">
           <div class="col-8">
             <div class="numbers">
                 <h4 class="text-sm blue-khieer mb-0 text-capitalize font-weight-bold">تصاميم الخير</h4>
             </div>
           </div>
           <div class="col-4 text-end">
             <div class="icon icon-shape shadow text-center border-radius-md">

                                             <img src="{% static 'images/aida.jpeg' %}" style="width: 2.9rem" class="logo_user"/>
             </div>
           </div>
         </div>
       </div>
     </div>
     </a>
   </div>


{% else %}

<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <a href="{% url 'dash-options'%}" style="cursor: pointer; text-decoration: none">
         <div class="card">
       <div class="card-body p-3">
         <div class="row">
           <div class="col-8">
             <div class="numbers">
                 <h4 class="text-sm blue-khieer mb-0 text-capitalize font-weight-bold">لوحة التحكم</h4>
             </div>
           </div>
           <div class="col-4 text-end">
             <div class="icon icon-shape shadow text-center border-radius-md">

                                             <img src="{% static 'images/tamkeen_new.png' %}" style="width: 2.9rem" class="logo_user"/>
             </div>
           </div>
         </div>
       </div>
     </div>
     </a>
   </div>
               <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <a href="{% url 'all-green'%}" style="cursor: pointer; text-decoration: none">
         <div class="card">
       <div class="card-body p-3">
         <div class="row">
           <div class="col-8">
             <div class="numbers">
                 <h4 class="text-sm blue-khieer mb-0 text-capitalize font-weight-bold">الدائرة الخضراء</h4>
             </div>
           </div>
           <div class="col-4 text-end">
             <div class="icon icon-shape shadow text-center border-radius-md">

                                             <img src="{% static 'images/green_icon.png' %}" style="width: 2.9rem" class="logo_user"/>
             </div>
           </div>
         </div>
       </div>
     </div>
     </a>
   </div>
               <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <a href="{% url 'report-page'%}" style="cursor: pointer; text-decoration: none">
         <div class="card">
       <div class="card-body p-3">
         <div class="row">
           <div class="col-8">
             <div class="numbers">
                 <h4 class="text-sm blue-khieer mb-0 text-capitalize font-weight-bold">التقارير</h4>
             </div>
           </div>
           <div class="col-4 text-end">
             <div class="icon icon-shape shadow text-center border-radius-md">

                                             <img src="{% static 'images/ethics.png' %}" style="width: 2.9rem" class="logo_user"/>
             </div>
           </div>
         </div>
       </div>
     </div>
     </a>
   </div>

   <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
     <a href="{% url 'all-design'%}" style="cursor: pointer; text-decoration: none">
          <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                  <h4 class="text-sm blue-khieer mb-0 text-capitalize font-weight-bold">تصاميم الخير</h4>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape shadow text-center border-radius-md">
                  <img src="{% static 'images/aida.jpeg' %}" style="width: 2.9rem" class="logo_user"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      </a>
    </div>


{% endif %}