{% load static %}
 <div class="col-12 col-lg-4 pt-3 justify-content-center">
                           <img src="{% static 'images/color.png' %}" style="width: 4.5rem" class="logo_user"/>

 </div>
 <div class="col-12 col-lg-4 pt-3 justify-content-center">
                      <img src="{% static 'images/wala.png' %}" style="width: 4.5rem" class="logo_user"/>

 </div>
 <div class="col-12 col-lg-4 pt-3 justify-content-center">
                      <img src="{% static 'images/Mntrni.png' %}" style="width: 4.5rem" class="logo_user"/>

 </div>