{% load static %}
 <div class="card justify-content-center align-items-center" style="height: 26vh;">
            <div class="card-body p-lg-6">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-lg mb-0 text-capitalize font-weight-bold">{{ cat.name }}</p>
                   <p class="text-xxs text-muted green-khieer">{{ cat.description }}</p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape shadow text-center border-radius-md">
                        {% if cat.pk == 1 %}
                      <img src="{% static 'images/wa3y.jpeg' %}" style="width: 4.5rem" class="logo_user"/>
                      {% elif cat.pk == 2 %}
                                                  <img src="{% static 'images/skills.jpeg' %}" style="width: 4.5rem" class="logo_user"/>

                     {% else %}
                                                  <img src="{% static 'images/khsomat.jpeg' %}" style="width: 4.5rem" class="logo_user"/>

                  {% endif %}

                  </div>
                </div>
              </div>
            </div>
          </div>