{% extends 'masterpage.html' %}
{% load static %}
{% block title %}  خير السعودية  {% endblock title %}
{% load crispy_forms_tags %}


{% block body %}

<section class="min-vh-85 mb-8">
    <div class=" bg-kheer page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style=" background-image: url('../../../static/images/ethics.png');">
      <div class="container">
        <div class="row justify-content-center">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-4">
                {% if LANGUAGE_CODE == 'ar' %}
                <h3 class="blue-khieer mb-2 mt-5"> إرفع قضيتك </h3>
          {% else %}
          <h3 class="blue-khieer mb-2 mt-5">  Share Your Topic </h3>
          {% endif %}
            </div>
            <div class="card-body">
              <form method="post">
                     {% if messages %}
              {% include 'partials/_messages.html' %}
              {% else %}
                  {% csrf_token %}
                   {{ form|crispy }}
                
             <div class="form-check form-check-info text-left">
              <input class="form-check-input" name="is_paid"  type="checkbox" value="True" id="flexCheckDefault" checked="">
              <label class="form-check-label" for="is_paid">
                <div class="mb-3">
                  <p class="text-sm blue-khieer">
                    خدمة تحليل التحدي من خبير خدمة غير ربحية تغطي التكاليف التشغيلية
                    لإتمام الخدمة سيتم احتساب مبلغ قدرة 250 ريال.
                                    </p>
           </div>
              </label>
            </div>
                <div class="text-center">
                    {% if LANGUAGE_CODE == 'ar' %}
                  <button type="submit" class="btn bg-maal text-white w-100 my-4 mb-2">تحليل التحدى  </button>
                  {% else %}
                  <button type="submit" class="btn bg-maal text-white w-100 my-4 mb-2"> Challenge analysis  </button>

                  {% endif %}
                </div>
                  {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock body %}