{% extends 'masterpage.html' %}
{% load static %}
{% block title %}
    {% if LANGUAGE_CODE == 'ar' %}
  الخصوصية و الأحكام
{% else %}
Privacy and Terms
{% endif %}
{% endblock title %}

{% block body %}
<section class="min-vh-40 mb-8">
    <div class="bg-kheer page-header align-items-start min-vh-40 pt-5 pb-11 m-3 border-radius-lg" style="background-image:url('../../static/images/ethics.png');background-size: contain;
    background-repeat: no-repeat;
    background-position: inherit;">
      <div class="container">
        <div class="row justify-content-center">
        </div>
      </div>
    </div>
    <div class="container">
              <div class="row mt-lg-n10 mt-md-n11 mt-n10">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-body">
                    {% if LANGUAGE_CODE == 'ar' %}
  <h3 class="green-khieer mb-2 mt-5">الخصوصية و الأحكام</h3>
              <p class="text-lead blue-khieer">
                  يحرص وقف خير السعودية الخيرية على حفظ خصوصية رواده الزوار ، فنحن ملتزمون بجميع القوانين التي تضبط العمل داخل الفضاء الرقمي انطلاقا من نفس مبادئ الوقف
              </p>
                {% else %}
            <h3 class="green-khieer mb-2 mt-5">Privacy and Terms</h3>
              <p class="text-lead blue-khieer">
The Saudi Khair Charitable Endowment is keen to preserve the privacy of its visitors. We are committed to all laws that regulate work within the digital space, based on the same principles of the endowment.
              </p>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

        <div class="row pt-3">
                    <div class="col-lg-12  mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                    {% if LANGUAGE_CODE == 'ar' %}
                                <h3 class="mb-1 pt-2 green-khieer text-bold">سياسة الخصوصية</h3>
                                <p class="blue-khieer pt-2">
تمثل سياسة الخصوصية نوعا من التعاقد الضمني بين موقع الوقف وجميع رواده الزوار، ونعمل من خلال البنود الواردة فيها على توضيح كافة البيانات التي يتم جمعها منهم آليا أو إراديا، كما نبرز الأسباب التي تدفعنا لجمعها
                                </p>
                                {% else %}
                                   <h3 class="mb-1 pt-2 green-khieer text-bold">Privacy policy</h3>
                                <p class="blue-khieer pt-2">
                                The privacy policy represents a kind of implicit contract between the Waqf site and all its visitors, and we work through the clauses contained in it to clarify all the data collected from them automatically or voluntarily, and we highlight the reasons that motivate us to collect it
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'images/h1_hero.png' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <div class="row pt-1">
                                            <div class="col-lg-12  mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                    {% if LANGUAGE_CODE == 'ar' %}
                                <h3 class="mb-1 pt-2 green-khieer text-bold">حماية معلوماتكم الشخصية</h3>
                                <p class="blue-khieer pt-2">
نحن على علم بمدى أهمية المعلومات الشخصية لزوارنا والمستخدمين الكرام ، كما ندرك تمام الإدراك مدى التحديات التي تقف في وجه سلامة التعاملات داخل الانترنت، لهذا نبذل جهودا كبيرة لحماية هذه المعلومات ، وذلك عبر اعتماد أقصى درجات الأمان للموقع من اخطار الهجمات الالكترونية
                                </p>
                                {% else %}
                                <h3 class="mb-1 pt-2 green-khieer text-bold">Protecting your personal information</h3>
                                <p class="blue-khieer pt-2">

We are aware of the importance of personal information to our valued visitors and users, and we are fully aware of the challenges that stand in the face of the safety of transactions within the Internet, so we make great efforts to protect this information, by adopting the highest levels of security for the site from the dangers of electronic attacks
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'images/kid_transparent.png' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
{% include 'partials/_policy.html' %}
    </div>
  </section>


{% endblock body %}