{% extends 'masterpage.html' %}
{% load static %}
{% block title %}
    {% if LANGUAGE_CODE == 'ar' %}
    برامجنا
        {% else %}
        Our Programs

{% endif %}
{% endblock title %}

{% block body %}
<section class="min-vh-85 mb-8">
    <div class=" bg-kheer page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style=" background-image: url('../../static/images/paramg.png');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
{% include 'partials/menus/_paramgMenu.html' %}
      </div>
        <div class="row pt-1">
                    <div class="col-lg-12  mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body pt-3">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                {% if LANGUAGE_CODE == 'ar' %}
                                <h3 class="mb-1 pt-2 green-khieer text-bold">برنامج خير السعودية بناسها</h3>
                                <p class="blue-khieer pt-2">
هو برنامج حواري وتوعوي إلهامي يُبرز شخصيات ساهمت في العمل الإنساني ولها الأثر المجتمعي للتحدث عن تجاربها في العطاء بوعي وبذل الخير ، وتأثير العطاء عليها وعلى أفراد المجتمع على النمو الداخلي ليؤثر في محيطه الخارجي .                                </p>
                                <h4 class="mb-1 pt-3 text-black-50 text-bold">
                                    قيم البرنامج
                                </h4>
                                <ul class="pt-2" >
                                    <li>اليسر</li>
                                    <li>الإنسانية</li>
                                    <li>التناغم</li>
                                </ul>
                                 <h4 class="mb-1 pt-3 blue-khieer text-bold">
الأهداف                                </h4>
                                <ul class="pt-2 blue-khieer" >
                                    <li>نشر ثقافة العطاء بوعي والتأثير في المجتمع و تعزيز حب العطاء لدى الجمهور </li>
                                    <li> تعزيز شعور الأنسنة والتعاطف لدى الجمهور</li>
                                    <li>  توثيق وتقديم تجارب الشخصيات بأسلوب إلهامي ومميز وبسيط </li>
                                                                   <li> إلهام المقتدرين على بذل الخير</li>
                                </ul>
                                {% else %}
                                    <h3 class="mb-1 pt-2 green-khieer text-bold">Khieer Saudi Arabia with its people</h3>
                                <p class="blue-khieer pt-2">
                                It is an inspirational talk show and awareness program that highlights personalities who have contributed to humanitarian work and have a societal impact, to talk about their experiences of giving with awareness and doing good, and the impact of giving on them and the members of society on internal growth to affect its external surroundings
                                </p>
                                <h4 class="mb-1 pt-3 text-black-50 text-bold">
                                Main Aspects
                                </h4>
                                <ul class="pt-2" >
                                    <li>Yusr</li>
                                    <li>humanity</li>
                                    <li>harmony</li>
                                </ul>
                                 <h4 class="mb-1 pt-3 blue-khieer text-bold">
Goals
                                 </h4>
                                <ul class="pt-2 blue-khieer" >
                                    <li>Spreading the culture of giving consciously, influencing the community, and enhancing the love of giving among the public </li>
                                    <li>Promote a sense of humanity and sympathy in the public</li>
                                    <li>
Documenting and presenting the experiences of the characters in an inspirational, distinctive and simple style </li>
                                                                   <li>Inspiring the able to do good </li>
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'images/ksa-vip.jpg' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        </div>
             <div class="row pt-1">
                    <div class="col-lg-12  mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body pt-3">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                {% if LANGUAGE_CODE == 'ar' %}
                                <h3 class="mb-1 pt-2 green-khieer text-bold">الرحلات التنموية التطوعية</h3>
                                <p class="blue-khieer pt-2">
هي فكرة مشروع ريادي لتحويل السياحة لأهداف تنموية وتطوعية لأجل المكان والإنسان، فيكون للوجهات غايات من الوصول لها نتصل بها بعقولنا وقلوبنا وأرواحنا فتصبح تجربة لا تنسى تفاصيلها.
                                </p>
                                <h4 class="mb-1 pt-3 text-black-50 text-bold">
                                    الهدف من البرنامج:
                                </h4>
                                <ul class="pt-2" >
                                    <li>التعريف بالمكان والإنسان من زاوية تنموية وتطوعية، وذلك بالبحث عن الموارد الطبيعية والغمر في التجارب الإنسانية والخروج بتجارب لا تنسى</li>
                                    <li>أن يجد مجتمع المهتمين وسيلة للتعرف على المكان والإنسان والتواصل عن قرب</li>
                                    <li>نعكس التعاطف والأنسنة والمؤازرة للمجتمعات التنموية من خلال الدعم والشراء أو توثيق التجارب ونشرها أو الخروج بفرص.</li>
                                                                   <li>تفعيل دور القطاع الثالث في دعم وتمكين الرحلات السياحية التنموية والتطوعية</li>

                                </ul>
                                {% else %}
                                    <h3 class="mb-1 pt-2 green-khieer text-bold">Volunteer development trips</h3>
                                <p class="blue-khieer pt-2">

It is the idea of pioneering project to transform tourism for developmental and voluntary goals for the sake of the place and the human being.
                                <h4 class="mb-1 pt-3 text-black-50 text-bold">
                                Main Goals
                                </h4>
                                <ul class="pt-2" >
                                    <li>Introducing the place and the human being from a developmental and voluntary angle, by searching for natural resources and immersing in human experiences and coming up with unforgettable experiences</li>
                                    <li>For the interested community to find a way to get to know the place and the person and communicate closely</li>
                                    <li>
We reflect empathy, humanization, and support for development communities by supporting and purchasing, documenting and publishing experiences, or coming up with opportunities.</li>
                                    <li>
Activating the role of the third sector in supporting and enabling development and volunteer tourism trips</li>
                                </ul>

                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'images/tamkeen_new.png' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        </div>


        <div class="row pt-1">
                                            <div class="col-lg-6 col-12 p-3  mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                    {% if LANGUAGE_CODE == 'ar' %}
                                <h3 class="mb-1 text-lg pt-2 green-khieer text-bold"> أدلة التغيير الثقافي والأثر الاجتماعي</h3>
                                <p class="blue-khieer text-xs">
 وهو مراجع وأدلة العطاء بوعي والتعاطف والأنسنة والإلهام في العمل الاجتماعي والخيري.                                </p>
                                {% else %}
                                 <h3 class="mb-1 text-lg pt-2 green-khieer text-bold"> Evidence of cultural change and social impact</h3>
                                <p class="blue-khieer text-xs">
It is references and guides to giving consciously, empathy, humanization and inspiration in social and charitable work
 .                                </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'images/resala.jpg' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <div class="col-lg-6 col-12  mb-lg-0 mb-4 p-3">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-6 ">
                            <div class="d-flex flex-column h-100">
                                    {% if LANGUAGE_CODE == 'ar' %}
                                <h3 class="mb-1 pt-2 green-khieer text-lg text-bold"> دليل التعاطف</h3>
                                                                         <a href="{% url 'create_document' %}" class="btn btn-sm text-white bg-maal btn-round mb-0 me-1" style="width: 10rem;"> الحصول على الدليل</a>

                                {% else %}
                                <h3 class="mb-1 pt-2 green-khieer text-lg text-bold">Sympathy Guide</h3>
                                 <a href="{% url 'create_document' %}" class="btn btn-sm text-white bg-maal btn-round mb-0 me-1" style="width: 10rem;"> Get Guide</a>

                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'images/tadreb.png' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
  </section>
{% endblock body %}