{% extends 'masterpage.html' %}
{% load static %}
{% block title %} لوحة التحكم {% endblock title %}

{% block body %}
<section class="min-vh-85 mb-8">
    <div class=" bg-kheer page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style=" background-image: url('../../../static/images/tamkeen_new.png');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto pt-lg-5">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-4">
              <h5 class="green-khieer">خير السعودية</h5>
                 <p class="text-lead" style="color: #040404; padding-right: 1.7rem">طاقات و أرواح
                        شبابية خلاقة</p>
            </div>
          <div class="card-body p-3">
              <ul class="list-group">
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="green-khieer">لأسم</strong> &nbsp;{{ request.user.first_name }} {{ request.user.last_name }}</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="green-khieer">الهاتف:</strong> &nbsp; {{  request.user.phone }}</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="green-khieer">البريد الألكترونى:</strong> &nbsp;{{ request.user.email}}</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="green-khieer">العنوان:</strong> &nbsp; {{  request.user.address }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <div class="pt-3 row">
                    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
         <a href="{% url 'reg-vol'%}" style="cursor: pointer; text-decoration: none">
              <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                      <h4 class="text-sm blue-khieer mb-0 text-capitalize font-weight-bold">لوحة التحكم</h4>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape shadow text-center border-radius-md">

                                                  <img src="{% static 'images/tamkeen_new.png' %}" style="width: 2.9rem" class="logo_user"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
                    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
         <a href="{% url 'reg-vol'%}" style="cursor: pointer; text-decoration: none">
              <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                      <h4 class="text-sm blue-khieer mb-0 text-capitalize font-weight-bold">الدائرة الخضراء</h4>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape shadow text-center border-radius-md">

                                                  <img src="{% static 'images/green_icon.png' %}" style="width: 2.9rem" class="logo_user"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
                    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
         <a href="{% url 'reg-vol'%}" style="cursor: pointer; text-decoration: none">
              <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                      <h4 class="text-sm blue-khieer mb-0 text-capitalize font-weight-bold">التقارير</h4>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape shadow text-center border-radius-md">

                                                  <img src="{% static 'images/ethics.png' %}" style="width: 2.9rem" class="logo_user"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>

        </div>
           <div class="row pt-4 mx-auto">
                    <div class="col-xl-6 col-lg-6 col-md-7">
          <div class="card z-index-0 h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">أكثر المدربيين مشاركة فى الدوائر الخضراء</h6>
            </div>
            <div class="card-body justify-content-center p-3">
    <canvas id="pie-chart"></canvas>

            </div>

          </div>


        </div>
                    <div class="col-xl-6 col-lg-6 col-md-7 pt-3">
          <div class="card z-index-0 h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">أكثر الدوائر الخضراء طلبا للمشاركة
              </h6>
            </div>
            <div class="card-body justify-content-center p-3">
    <canvas id="bar-chart"></canvas>

            </div>

          </div>


        </div>

        </div>
           <div class="row pt-4 mx-auto">
                    <div class="col-xl-6 col-lg-6 col-md-7">
          <div class="card z-index-0 h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">أكثر الهبات من حيث قيمة التبرع</h6>
            </div>
            <div class="card-body justify-content-center p-3">
    <canvas id="heba-chart"></canvas>

            </div>

          </div>


        </div>
                    <div class="col-xl-6 col-lg-6 col-md-7 pt-3">
          <div class="card z-index-0 h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">أكثر الواهبين من حيث التبرع
              </h6>
            </div>
            <div class="card-body justify-content-center p-3">
    <canvas id="duration-chart"></canvas>

            </div>

          </div>


        </div>

        </div>

    </div>
  </section>
{% endblock body %}

{% block scripts %}

      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

         <script>
         var dur_config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ durdata|safe }},
          backgroundColor: [
            '#5DBD7E', '#2D6D93', '#5DBD7E', '#2D6D93', '#5DBD7E'
          ],
          label: 'أكثر الواهبين من حيث التبرع '
        }],
        labels: {{ durlabels|safe }}
      },
      options: {
        responsive: true
      }
    };

var trainer_config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: {{ trainersdata|safe }},
          backgroundColor: [
            '#5DBD7E', '#2D6D93', '#5DBD7E', '#2D6D93', '#5DBD7E'
          ],
          label: 'أكثر المدربيين مشاركة فى الدوائر الخضراء '
        }],
        labels: {{ trainerslabels|safe }}
      },
      options: {
        responsive: true
      }
    };
    var config = {
      type: 'bar',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#5DBD7E', '#2D6D93', '#5DBD7E', '#2D6D93', '#5DBD7E'
          ],
          label: 'أكثر الدوائر الخضراء طلبا للمشاركة'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };


        var heba_config = {
      type: 'bar',
      data: {
        datasets: [{
          data: {{ hebadata|safe }},
          backgroundColor: [
            '#5DBD7E', '#2D6D93', '#5DBD7E', '#2D6D93', '#5DBD7E'
          ],
          label: 'أكثر الهبات من حيث قيمة التبرع'
        }],
        labels: {{ hebaslabales|safe }}
      },
      options: {
        responsive: true
      }
    };



    window.onload = function() {
      var ctx = document.getElementById('bar-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
            var ctx_rates = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx_rates, trainer_config);
        var ctxheba = document.getElementById('heba-chart').getContext('2d');
      window.myPie = new Chart(ctxheba, heba_config);
        var ctx_dur = document.getElementById('duration-chart').getContext('2d');
      window.myPie = new Chart(ctx_dur, dur_config);

    };



  </script>
{% endblock scripts %}