{% extends 'userlayout.html' %}
{% load static %}
{% block title %} خير السعودية {% endblock title %}


{% block body %}
    <div class="row pt-8 pt-lg-5">
        <div class="col-lg-12  mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                <h3 class="mb-1 pt-2 blue-khieer text-bold">منصة الخير</h3>
                                <p class="font-weight-bolder text-dark">الريادة في أنسنة العمل الخيري المتناغم والمستدام
                                    ونشر ثقافة الخير والعطاء بوعي</p>
                                <h5 class="mb-5 green-khieer">نعيش العطاء</h5>
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'images/login.png' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="bg-kheer align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg"
             style="background-color: #ebeef1; background-image: url('../../../static/images/tamkeen_new.png');">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 text-center mx-auto">
                        <h1 class="mb-2 mt-5 green-khieer">رسالة خير </h1>
                        <p class="text-lead text-black-50">إعادة تعريف العمل الخيري والأجتماعي بطرق الإلهام والأنسنة
                            والعطاء بوعي ,ونبتكر او نتعاون في إخراج منتجات جاذبة ومحفَزة</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    <div class="row mt-lg-n8 mt-md-n11 mt-n8 d-flex justify-content-lg-start">
                    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                        <div class="card z-index-0">
                            <div class="card-header text-center pt-4">
                                    <a href="{% url 'heba-khieer' %}" class="btn btn-sm btn-round text-white mb-0 me-1 bg-maal">هبة الخير</a>
                            </div>
                            <div class="row px-xl-7 px-sm-7 px-3">
                                <div class="col-12 m-auto ">
                            <img src="{% static 'images/heba_kheer.png' %}" class="logo_user" style="width: 9rem"/>
                                </div>

                            </div>
                        </div>
                    </div>
                        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                        <div class="card z-index-0">
                            <div class="card-header text-center pt-4">
                                    <a href="" class="btn btn-sm btn-round text-white mb-0 me-1 bg-maal">الدائرة الخضراء</a>
                            </div>
                            <div class="row px-xl-7 px-sm-7 px-3">
                                <div class="col-12 m-auto ">
                            <img src="{% static 'images/green_icon.png' %}" class="logo_user" style="width: 9rem"/>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


<div class="row pt-3">
<div class="col-12 mt-4">
          <div class="card mb-4">
            <div class="card-header text-center pb-0 p-3">
              <h6 class="mb-1 green-khieer">شركاء النجاح</h6>
            </div>
            <div class="card-body p-3">
              <div class="row justify-content-center text-center">
                <div class="col-xl-4 col-md-4 mb-xl-0 mb-4">
                  <div class="card card-blog card-plain">
                    <div class="position-relative">
                      <a class="d-block  border-radius-xl">
                        <img src="{% static 'images/wala.png' %}" alt="img-blur-shadow" class="logo_user">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-xl-0 mb-4">
                  <div class="card card-blog card-plain">
                    <div class="position-relative">
                      <a class="d-block  border-radius-xl">
                        <img src="{% static 'images/Mntrni.png' %}" alt="img-blur-shadow" class="logo_user">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-xl-0 mb-4">
                  <div class="card card-blog card-plain">
                    <div class="position-relative">
                      <a class="d-block  border-radius-xl">
                        <img src="{% static 'images/color.png' %}" alt="img-blur-shadow" class="logo_user">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>

    <div class="row pt-3">
<div class="col-12 mt-4">
          <div class="card mb-4">
            <div class="card-header text-center pb-0 p-3">
              <h6 class="mb-1 green-khieer">الداعمين</h6>
            </div>
            <div class="card-body p-3">
              <div class="row justify-content-center text-center">
                <div class="col-xl-3 col-md-4 mb-xl-0 mb-4">
                  <div class="card card-blog card-plain">
                    <div class="position-relative">
                      <a class="d-block  border-radius-xl">
                        <img src="{% static 'images/share2.png' %}" alt="img-blur-shadow" class="logo_user">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 mb-xl-0 mb-4">
                  <div class="card card-blog card-plain">
                    <div class="position-relative">
                      <a class="d-block  border-radius-xl">
                        <img src="{% static 'images/share3.png' %}" alt="img-blur-shadow" class="logo_user">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 mb-xl-0 mb-4">
                  <div class="card card-blog card-plain">
                    <div class="position-relative">
                      <a class="d-block  border-radius-xl">
                        <img src="{% static 'images/share4.png' %}" alt="img-blur-shadow" class="logo_user">
                      </a>
                    </div>
                  </div>
                </div>
                             <div class="col-xl-3 col-md-4 mb-xl-0 mb-4">
                  <div class="card card-blog card-plain">
                    <div class="position-relative">
                      <a class="d-block  border-radius-xl">
                        <img src="{% static 'images/alsan3.jpeg' %}" alt="img-blur-shadow" class="logo_user">
                      </a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
</div>
    <div class="row pt-3">
    <div class="col-12 col-xl-6">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
             <h5 class="blue-khieer"> تابعنا على تويتر</h5>
            </div>
            <div class="card-body p-3">
    <a class="twitter-timeline" data-width="350" data-height="250" data-dnt="true"
                   href="https://twitter.com/KSAKhair?ref_src=twsrc%5Etfw"></a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>

    <div class="col-lg-6 col-md-12">
          <div class="card h-100">
            <div class="card-header pb-0">
              <h6 class="green-khieer">نيسر الخير لأهل الخير</h6>
            </div>
            <div class="card-body p-3">
              <div class="timeline timeline-one-side">
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="fas fa-envelope-open-text blue-khieer"></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">info@khieer.com</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> للتواصل عبر البريد الألكترونى</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="fas fa-building blue-khieer"></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">  4092-12393 ص.ب</h6>
                  </div>
                </div>
                <div class="timeline-block mb-3">

                  <div class="timeline-content">
 <img src="{% static 'images/logos/logo.png' %}" class="logo_user"/>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

    </div>

{% endblock body %}
