{% extends 'masterpage.html' %}
{% load static %}
{% block title %}المركز الأعلامى{% endblock title %}

{% block body %}
<section class="min-vh-40 mb-8">
    <div class="bg-kheer page-header align-items-start min-vh-40 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('../../../static/images/takafly.png');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row pt-3">
                    <div class="col-lg-12  mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                  <a href="https://www.alwatan.com.sa/article/377870">
                        <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                <h3 class="mb-1 pt-2 green-khieer text-bold">الشعلان تتألق في عالم المبادرات الإنسانية
</h3>
                                <p class="blue-khieer">
رشحت مؤخرا أماني الشعلان صاحبة مبادرة (خير السعودية) ضمن أفضل 15 مبادرة على مستوى الوطن العربي من أصل 87 ألف مبادرة لـ»صناع الأمل» إحدى مبادرات الشيخ محمد بن راشد، نائب رئيس الإمارات رئيس مجلس الوزراء حاكم دبي، حيث إنها أكبر مبادرة عربية تهدف إلى تكريم البرامج والمشاريع والمبادرات الإنسانية والمجتمعية، التي يسعى أصحابها من خلالها إلى مساعدة الناس دون مقابل، ونشر الأمل وحصلت على شهادة التميّز لذلك، والجدير بالذكر أن (خير السعودية) كانت مبادرة هاشتاق على تويتر للتكافل ما بين أفراد المجتمع وتحوّل إلى وقف خيري لتعزيز فرص التكافل.

                                </p>
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'images/amani.png' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                  </a>
                </div>
            </div>
        </div>

        </div>
        <div class="row pt-3">
                                            <div class="col-lg-12  mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                 <a href="https://www.alaan.tv/programs/family/tawasul/109470/khair-saudi-arabia-initiative-specializing-dissemination-ideas-photos-social-solidarity">
                       <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                <h3 class="mb-1 pt-2 green-khieer text-bold">"خير السعودية" مبادرة متخصصة في نشر افكار و صور للتكافل الاجتماعي</h3>
                                <p class="blue-khieer">
حساب خير السعودية هو حساب متخصص في نشر افكار و صور مختلفة للتكافل الاجتماعي ، و يعرف نفسه في انستغرام بأنه مبادرة تعمل رسميا تحت مظلة الجمعية السعودية للعمل التطوعي "تكاتف"، ومن احدث اعمال خير السعودية كانت الخيمة الرمضانية في الرياض، اذ قدمت الاسر المنتجة اعمالها وسط حكايا المتطوعين وقصص نجاحهم.في تويتر منيرة العيسى غردت: الان عبر #خير_السعودية إكفل أسرة في أي منطقة من مناطق المملكة لتوفير مؤونة.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'images/ta2ser.png' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                 </a>
                </div>
            </div>
        </div>

        </div>
        <div class="row pt-3">
                                            <div class="col-lg-12  mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                <h3 class="mb-1 pt-2 green-khieer text-bold" >
نيسر الخير لأهل الخير
                                </h3>
                                                                <p class="blue-khieer">مباردة خير السعودية تتكفل بأكثر من ألفي أسرة معوزة في المملكة
</p>
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                   <iframe width="560" height="315" src="https://www.youtube.com/embed/2E-Rk5oqfVs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>

    </div>
  </section>


{% endblock body %}