{% extends 'masterpage.html' %}
{% load static %}
{% block title %}  برامجنا {% endblock title %}

{% block body %}
<section class="min-vh-85 mb-8">
    <div class=" bg-kheer page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style=" background-image: url('../../../static/images/paramg.png');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
              <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">برامج التأثير الاجتماعي</p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape shadow text-center border-radius-md">
                      <img src="{% static 'images/ta2ser.png' %}" style="width: 4.5rem" class="logo_user"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                              <a href="{% url 'green-circle' %}" style="cursor: pointer; text-decoration: none">
                                            <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">الدائرة الخضراء</p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape shadow text-center border-radius-md">
                      <img src="{% static 'images/green_icon.png' %}" style="width: 4.5rem" class="logo_user"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

                              </a>
        </div>
        <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                                                        <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">برنامج التغير الثقافي والأثر للجمعيات</p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape shadow text-center border-radius-md">
                      <img src="{% static 'images/paramg.png' %}" style="width: 4.5rem" class="logo_user"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
        <div class="row pt-1">
                    <div class="col-lg-12  mb-lg-0 mb-4">
            <div class="card">
                <div class="card-header justify-content-center">
                    <h5 class="blue-khieer">برامج التأثير الاجتماعي</h5>
                </div>
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                <h3 class="mb-1 pt-2 green-khieer text-bold">برنامج العطاء</h3>
                                <p class="blue-khieer">
                                    برنامج العطاء : هو برنامج توعوي يهدف إلى نشر ثقافة العطاء والتأثير في الحياة البرنامج على اليوتيوب
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'images/amani.png' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                <h3 class="mb-1 pt-2 green-khieer text-bold">برنامج خير السعودية بناسها</h3>
                                <p class="blue-khieer">
هو برنامج حواري مُلهِم لبذل الخير يسلط الضوء على شخصيات ساهمت وأثرت في العمل الإنساني
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'images/mic.jpeg' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <div class="row pt-1">
                                            <div class="col-lg-12  mb-lg-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6 pt-lg-6">
                            <div class="d-flex flex-column h-100">
                                <h3 class="mb-1 pt-2 green-khieer text-bold">برنامج التغير الثقافي والأثر للجمعيات</h3>
                                <p class="blue-khieer">
دليل وحملة توعوية لنقل ثقافة الانسنة والتعاطف والعطاء بوعي والأثر للبرامج التكافلية للجمعيات الخيرية الذي يهدف إلى تغيير الثقافة الحالية للجمعيات الخيرية
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                            <div class="border-radius-lg h-100">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'images/resala.jpg' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
  </section>


{% endblock body %}