{% extends 'masterpage.html' %}
{% load static %}
{% block title %}  جرب تصميمك {% endblock title %}

{% block style %}
{% endblock style %}


{% block body %}
<section class="min-vh-85 mb-8">
    <div class=" bg-kheer page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style=" background-image: url('/static/images/aida.jpeg');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
            {% if messages %}
              {% include 'partials/_messages.html' %}
          {% else %}
{% include 'partials/menus/_designMenu.html' %}
      {% endif %}
      </div>

    </div>
  </section>
{% endblock body %}


{% block scripts %}

<script>

  $(document).ready(function () {
    $(".viewID").on('click', function () {
        var src =$(this).attr('src');
        $("#choices").empty();
        $("#choices").append(`
                       <a class="btn btn-success bg-maal text-white" id="cup">حافظ الجوال</a>
                                            <a class="btn btn-success bg-maal text-white" id="bag">الحقيبة</a>
 <a class="btn btn-success bg-maal text-white" id="shirt">الزى</a>
`);
       $("#bag").on('click' , event => {
           event.stopPropagation();
           $("#myImg").attr("src",src);
       });
          $("#shirt").on('click' , event => {
           event.stopPropagation();
           $("#myImgCap").attr("src",src);
       });
             $("#cup").on('click' , event => {
           event.stopPropagation();
           $("#myImgCover").attr("src",src);
       });


    });

});
</script>
{% endblock scripts %}

