{% extends 'virtualmaster.html' %}
{% load static %}
{% block title %}  تصاميم الخير {% endblock title %}

{% block style %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock style %}


{% block body %}
    <main class="main-content mt-1 border-radius-lg ps">
      <div class="section min-vh-85 position-relative transform-scale-0 transform-scale-md-7">
        <div class="container">
          <div class="row pt-8 pt-lg-4">
        <div class="col-12 justify-content-center">
          <div class="card z-index-0 ">
              <div class="card-header">
              <div class="row justify-content-center">
             <div class="col-10 jsutify content-center">
              <a class="btn btn-sm btn-primary bg-maal text-white text-xs" href="{% url 'user-add' %}">اضافة تصميم</a>

             </div>
              </div>
              </div>
              <div class="card-body">
           <div class="row d-flex pt-3">
            {% for item in data %}
            <div class="col-4 text-center pt-3">
             <div class="icon icon-shape shadow text-center border-radius-md" style="width: fit-content; height: fit-content;cursor: pointer;">
                <a href="{% url 'delete-design' item.pk %}">
                  <i class="fas fa-trash text-danger"></i>
                </a>
               <img id="{{item.pk}}" name="{{ item.image.url}}" src="{{ item.image.url}}" alt={{item.name}} class="image_design viewID" />
             </div>
           </div>
            {% endfor %}
               {% include 'partials/_pagination.html' with page_obj=data only %}

           </div>
              </div>
          </div>
        </div>
          </div>
          <div class="row pt-10 justify-content-center">
            <div id="frame">
                <img id="myImg" src="{% static 'images/logo.png' %}" class="image_design">
            </div>
              </div>
          </div>
        </div>
      </div>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></main>

{% endblock body %}


{% block scripts %}

<script>

  $(document).ready(function () {
    $(".viewID").on('click', function () {
        var src =$(this).attr('name');
        $("#myImg").attr("src",src);


    });

});
</script>
{% endblock scripts %}

